<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataWriter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DataWriter.Properties.Settings>
            <setting name="DatabaseServer" serializeAs="String">
                <value>ERIC-PC\SQLDEV</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>CrashBurn</value>
            </setting>
            <setting name="Login" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>c:\dev\DataWriter\logs</value>
            </setting>
            <setting name="LogRoot" serializeAs="String">
                <value>DataWriter</value>
            </setting>
            <setting name="LogFilter" serializeAs="String">
                <value>INFO</value>
            </setting>
        </DataWriter.Properties.Settings>
    </userSettings>
</configuration>