<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqQueries.Properties.Settings.PruProfileConnectionString"
            connectionString="Data Source=PAERSCBBLD0314;Initial Catalog=PruProfile;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="LinqQueries.Properties.Settings.GeneralConnectionString"
            connectionString="Data Source=W-D344FWC1;Initial Catalog=General;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>