<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MQTestClient.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <MQTestClient.My.MySettings>
            <setting name="MQ_QMGR_Custom_Channel_Name" serializeAs="String">
                <value>QM_TEST.SVRCONN</value>
            </setting>
            <setting name="MQ_QMGR_Host_Name" serializeAs="String">
                <value>192.168.2.154</value>
            </setting>
            <setting name="MQ_QMGR_Queue_Manager" serializeAs="String">
                <value>QM_infocor2</value>
            </setting>
            <setting name="MQ_Datagram_Receive_Queue" serializeAs="String">
                <value>II.ARP.REQUEST.APP.SCAN.REPLY</value>
            </setting>
            <setting name="MQ_QMGR_Port" serializeAs="String">
                <value>1414</value>
            </setting>
            <setting name="MQ_Datagram_Receive_Wait_Interval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MQ_Datagram_Send_Timeout_Interval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MQ_Datagram_Send_Queue" serializeAs="String">
                <value>II.ARP.REQUEST.APP.SCAN</value>
            </setting>
            <setting name="MQ_SendRequestReply_Queue" serializeAs="String">
                <value>II.ARP.REQUEST.APP.STATUS</value>
            </setting>
            <setting name="MQ_SendRequestReply_Timeout_Interval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MQ_SendRequestReply_ReplyQueue" serializeAs="String">
                <value>II.ARP.REQUEST.APP.STATUS.REPLY</value>
            </setting>
            <setting name="MQ_GetRequestReply_RequestQueue" serializeAs="String">
                <value>II.PLUS.ARP.RESP</value>
            </setting>
            <setting name="MQ_GetRequestReply_Timeout_Interval" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Datagram_Send_Msgs" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Datagram_Receive_Msgs" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Send_Request_Msgs" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Get_Request_Msgs" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Timer_Interval" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ValidateMsgFormat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableMQAppStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableMQAppRequest" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableMQAppReply" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InvalidMsg" serializeAs="String">
                <value />
            </setting>
        </MQTestClient.My.MySettings>
    </userSettings>
</configuration>
