<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ExcelScanner.Properties.Settings.GeneralConnectionString"
            connectionString="Data Source=W-D344FWC1;Initial Catalog=General;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>