<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Examples.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Examples.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Examples.Properties.Settings>
            <setting name="UserStringValue" serializeAs="String">
                <value>User String Setting</value>
            </setting>
            <setting name="UserIntValue" serializeAs="String">
                <value>99</value>
            </setting>
        </Examples.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Examples.Properties.Settings>
            <setting name="AppStringValue" serializeAs="String">
                <value>App String Setting</value>
            </setting>
            <setting name="AppIntValue" serializeAs="String">
                <value>88</value>
            </setting>
        </Examples.Properties.Settings>
    </applicationSettings>
</configuration>