<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MQTestClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MQTestClient.Properties.Settings>
            <setting name="QueueManager" serializeAs="String">
                <value>PRUQMGR</value>
            </setting>
            <setting name="MQHost" serializeAs="String">
                <value>VMMQ6SRV</value>
            </setting>
            <setting name="Channel" serializeAs="String">
                <value>CLNTA.M33P.33</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>1414</value>
            </setting>
            <setting name="SecurityExit" serializeAs="String">
                <value />
            </setting>
        </MQTestClient.Properties.Settings>
    </applicationSettings>
</configuration>